/* @import 'normalice.css'; */

section {
    background-color: black;
    padding: 20px;
}

.box {
    padding: 100px;
    background-color: goldenrod;
    display: inline-block;

}

#box-1 {
    border: 1px solid blue;
    transform: translate(-50%, 0);

}

#box-2 {
    background-color: silver;
    transform: scale(0.92, 0.5)
}

#box-3 {
    transform: rotate(15deg)
}
#box-4 {
    transform: skew(15deg, 25deg);
}

#box-5 {
    background-color: silver;
    transform: scale(1) rotate(-30deg);
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(1,.62,.52,.86);
    opacity: 0.5;
    
}

#box-5:hover {
    transform: scale(1.3);
    cursor: pointer;
    background-color: goldenrod;
    opacity: 1;
}

#box-6 {
    animation-name: slide;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
}


@keyframes slide {
    0% {
        transform: translatey(-50%);
        opacity: 0;
    }
    10% {
      
    }
    40% {
        transform: translateY(0);
        opacity: 1
    }
    100% {
        transform: translateY(100px)

    }
}