@import 'normalize.css';

body {
    padding:20px;
}
.link {
    border-radius: 100%;
    height: 100px;
}
h1, .link {
    color:red;
}
p > strong {
    text-transform: uppercase;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + span {
    display: inline-block;
    height: 8px;
    width: 8px;
   background-color: gray;
    border-radius: 100%;
    cursor: pointer;
}
input[type="checkbox"]:checked + span {
    background-color: gold;
}