
@font-face {
  font-family: 'Kufam-Bold';
  src: url('Kufam-Bold.eot?#iefix') format('embedded-opentype'),  url('Kufam-Bold.woff') format('woff'), url('Kufam-Bold.ttf')  format('truetype'), url('Kufam-Bold.svg#Kufam-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
